

.search-bar {
    width:100%;
    max-width:900px;
    height: 68px;
    background-color: white;
    border-radius: 10px;
    display: flex;

}

.search-bar-input {
    all: unset;
    color: black;
    height: 100%;
    width: 100%;

}

.search-bar-button {
    all: unset;
    cursor: pointer;

}


/*//cards:*/
.card-services {
    border-radius: 15px;
    border-width: 2px;
    max-width: 420px;
    height: 500px;
    background-color: white;
    box-sizing: border-box;
    overflow: hidden;
    border-color: #ec4949 !important;
    padding-bottom: 20px;
    margin-bottom: 30px;


}

.card-services-header:hover {
    background-color:#ec4949!important;

}


.card-services-header {
    background-color: white;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    border-radius: 15px;
    border-bottom: none;
}


.card-services-header:hover .card-top-text {
    color: white;
}

.card-services-header:hover .card-middle-text {
    color: white;
}

.card-services-header:hover .icon-box-services {
    background-color: white;
}

.card-services-body {
    border-radius: 15px; /* Ensure all child elements have the same border-radius */
}

.icon-box-services {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    position: absolute;
    top: 30px; /* Adjust as needed */
    left: 30px; /* Adjust as needed */
    margin-bottom: 60px;
    width: 55px;
    height: 55px;
    padding: 4px;
    background-color: white;
    border-radius: 9px;
    border: 2px !important;
    border-color:#ec4949 !important;
}

.icon-box-services svg {
    width: 40px;
    height: 40px;
}

.card-top-text {
    font-size: 30px;
    color: #373737;
    font-weight: 700;
    margin-top: 80px;
    line-height: 1.2;

}

.card-middle-text {
    font-size: 15px;
    color: dimgrey;
    margin-top: 5px;
    font-weight: 600;
}

.card-services-body {
    padding-left: 30px;
    padding-right: 30px;

}

.button-header {
    color: grey;
    font-size: 16px;
    margin-top: -5px;
}

.card-link {
    text-align: left;
    margin-left: -30px;
}

.card-link-line-services {
    margin-top: -10px;

}

.card-link-text-services {
    flex: 30;
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    color: #2c2c2c;
    margin-top: -8px;
}

.card-link-text-services:hover {
    color: grey;
}

.card-services:hover .card-services-header {
    background-color: #ec4949;
}

.card-services:hover .card-top-text {
    color: white;
}

.card-services:hover .card-middle-text {
    color: white;
}

.card-services:hover .icon-box-services {
    background-color: white;
}

.card-link-icon-services {
    flex: 1;
    color: black;
    margin-top: -10px;
}

.card-link-icon-services:hover {
    color: grey;
}

.card-link-icon-services:hover .card-services-header {
    background-color: #ec4949;
}

.card-link-bottom-services {
    margin-top: -4px;
    border: none;
    background-color: white;
}

.card-link-bottom-services:hover {
    opacity: 75%;
}

.card-link-bottom-text {
    color:#ec4949;
    font-size: 15px;
    flex: 15;
    font-weight: bold;
}

.card-link-bottom-icon {
    flex: 1;
    color: #ec4949;
    margin-left: 10px;

}



/*services*/

.card-image-text-box {
    position: absolute;
    top: 0;
    right: 10px;
    background-color: #e9f8e9;
    color: #38e338;
    padding: 4px 8px;
    border-radius: 20px;
    font-size: 15px;
    font-weight: bold;
    margin-top:8px;
}

.card-services-detail {
    max-width: 400px;
    width:100%;
    height: 600px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    border-radius:20px;
}


.card-service-detail-image {
    display: block;
    max-width: 400px;
    height: 300px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}

.card-services-detail-body {
    background-color:#fae5ec;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distributes space evenly */
    height: auto;
    margin-left: -1px;
    padding-bottom: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: relative;
}

.card-service-detail-header {
    color: rgba(115,18,111,0.78);
    font-size: 30px;
    font-weight: bold;
    margin-top: -5px;
    position: relative;
    display: inline-block;
    line-height: 1.2;
    max-width: 400px;
    padding:0;

}

.card-service-detail-middle-text {
    color: dimgrey;
    font-size: 16px;
    margin-top: -8px;
    line-height: 1.3;

}

.card-service-detail-button {
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: rgba(115,18,111,0.78);
    border: none;
    border-radius: 8px;
    width: 200px;
    height: 55px;
    margin-top: auto;
    margin-left: 60px;
}

/*//services-detail-page*/
.services-detail-page-img {
    width: 400px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.services-detail-page-header {
    font-size: 37px;
    font-weight: bold;
    color: #ec4949;
}

.services-detail-page-text li {
    color: #4e4d4d;
    font-size: 16px;


}

.services-detail-page-text-bottom {
    font-size: 17px;
    line-height: 1.6;
    color: #4e4d4d;
    padding: 20px;
    width:500px;
    font-weight: 400;
    justify-content: start;
}

